body {
	margin: 0;
	padding: 0;
	/* overflow: hidden; /* Prevent scrolling on the page */ */
}
button {
	display: block;
}
canvas {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: row;
}
#mycanvas {
	border: 2px solid blue;
}
#mycanvas2 {
	border: 2px solid green;
}


#colorpanel {
  width: 130px;
  height: 480px;
  float: left;
  margin-right: 18px;
  border: 1px solid black;
}

#contain {
  padding-left: 13px;
  height: 320px;
}

.palette {
  width: 23px;
  height: 23px;
  float: left;
  margin: 6px;
  border: 1px solid black;
}

.red { background: red; }
.red1 { background: #F16161; }
.red2 { background: #F69FA0; }
.orange { background: orange; }
.orange1 { background: #F99F62; }
.orange2 { background: #FBB57B; }
.blue { background: #09C2DB; }
.blue1 { background: #8BD3DC; }
.blue2 { background: #B9E3E8; }
.indigo { background: #0E38AD; }
.indigo1 { background: #546AB2; }
.indigo2 { background: #9C96C9; }
.green { background: green; }
.green1 { background: #97CD7E; }
.green2 { background: #C6E2BB; }
.black { background: black; }
.black1 { background: #333333; }
.black2 { background: #666666; }
.yellow { background: yellow; }
.yellow1 { background: #F7F754; }
.yellow2 { background: #F7F4B1; }
.purple { background: #B9509E; }
.purple1 { background: #D178B1; }
.purple2 { background: #E3ABCE; }
.grey { background: #999999; }
.grey1 { background: #CCCCCC; }
.white { background: white; }

.brush {
  float: left;
  margin: 6px;
  background: black;
  border-radius: 50%;
}

.small {
  width: 10px;
  height: 10px;
}

.medium {
  width: 20px;
  height: 20px;
}

.large {
  width: 30px;
  height: 30px;
}
