* {
	font-size: 100%;
	font-family: Palatino Linotype;
	color: white;
}
body {
	margin: 0;
	padding: 0;
	/* overflow: hidden; /* Prevent scrolling on the page */ */
	background-color: rosybrown;
	background-image: url(wood_texture.jpg);
	background-size: cover;
	background-position: center center;
}

button {
	display: block;
}

canvas {
	margin: 0;
	padding: 0;
}

.banner {
	width: 500px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container > * {
  margin: 5px;
}

#mycanvas, #mycanvas2 {
  border: 1px solid black;
}

.canvas_container {
  height: 512px;
  width: 512px;
  position: relative;
}

.thumbnails {
  position: absolute;
  right: 0px;
  top: 0px;
  padding-top: 3px;
}

.thumbnail {
  margin: 3px;
}

.selected {
  border: 3px solid greenyellow;
}

.thumbnail img {
  height: 100px;
  width: 100px;
}

#inputpanel {
  width: 150px;
  height: 640px;
  float: left;
}

#contain {
  padding-left: 10px;
}

.palette {
  width: 25px;
  height: 25px;
  float: left;
  margin: 8px;
  border: 1px solid black;
}

.red { background: red; }
.red1 { background: #F16161; }
.red2 { background: #F69FA0; }
.orange { background: orange; }
.orange1 { background: #F99F62; }
.orange2 { background: #FBB57B; }
.blue { background: #09C2DB; }
.blue1 { background: #8BD3DC; }
.blue2 { background: #B9E3E8; }
.indigo { background: #0E38AD; }
.indigo1 { background: #546AB2; }
.indigo2 { background: #9C96C9; }
.green { background: green; }
.green1 { background: #97CD7E; }
.green2 { background: #C6E2BB; }
.black { background: black; }
.black1 { background: #333333; }
.black2 { background: #666666; }
.yellow { background: yellow; }
.yellow1 { background: #F7F754; }
.yellow2 { background: #F7F4B1; }
.purple { background: #B9509E; }
.purple1 { background: #D178B1; }
.purple2 { background: #E3ABCE; }
.grey { background: #999999; }
.grey1 { background: #CCCCCC; }
.white { background: white; }

.jscolor {
	width: 57px;
	height: 20px;
	padding: 10px;
	border: 1px solid black;
	font-family: "Courier New"
}

.brush {
  float: left;
  margin: 6px;
  background: black;
  border: 1px solid black;
  border-radius: 50%;
}

.small {
  width: 10px;
  height: 10px;
}

.medium {
  width: 15px;
  height: 15px;
}

.medium2 {
  width: 20px;
  height: 20px;
}

.large {
  width: 25px;
  height: 25px;
}

.current_brush {
  width: 30px;
  height: 30px;
  margin-left: 25%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: grey;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: white;
  cursor: pointer;
}
