<!DOCTYPE html>
<html>
  <head>
    <title>Interactive Painting App Demo</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>

    <div class="container">
      <div id="inputpanel">
        <center><p style="margin-block-end: 0">Current Brush</p></center>
        <div id="contain" style="height: 50px">
          <div class="brush current_brush" id="current_brush"></div>
        </div>
        <center><p style="margin-block-end: 0">Color Palette</p></center>
        <div id="contain">
          <div class="palette red" id="red" onclick="changeColors(this)"></div>
          <div class="palette red1" id="red1" onclick="changeColors(this)"></div>
          <div class="palette red2" id="red2" onclick="changeColors(this)"></div>
          <div class="palette orange" id="orange" onclick="changeColors(this)"></div>
          <div class="palette orange1" id="orange1" onclick="changeColors(this)"></div>
          <div class="palette orange2" id="orange2" onclick="changeColors(this)"></div>
          <div class="palette yellow" id="yellow" onclick="changeColors(this)"></div>
          <div class="palette yellow1" id="yellow1" onclick="changeColors(this)"></div>
          <div class="palette yellow2" id="yellow2" onclick="changeColors(this)"></div>
          <div class="palette green" id="green" onclick="changeColors(this)"></div>
          <div class="palette green1" id="green1" onclick="changeColors(this)"></div>
          <div class="palette green2" id="green2" onclick="changeColors(this)"></div>
          <div class="palette blue" id="blue" onclick="changeColors(this)"></div>
          <div class="palette blue1" id="blue1" onclick="changeColors(this)"></div>
          <div class="palette blue2" id="blue2" onclick="changeColors(this)"></div>
          <div class="palette indigo" id="indigo" onclick="changeColors(this)"></div>
          <div class="palette indigo1" id="indigo1" onclick="changeColors(this)"></div>
          <div class="palette indigo2" id="indigo2" onclick="changeColors(this)"></div>
          <div class="palette purple" id="purple" onclick="changeColors(this)"></div>
          <div class="palette purple1" id="purple1" onclick="changeColors(this)"></div>
          <div class="palette purple2" id="purple2" onclick="changeColors(this)"></div>
          <div class="palette black" id="black" onclick="changeColors(this)"></div>
          <div class="palette black1" id="black1" onclick="changeColors(this)"></div>
          <div class="palette black2" id="black2" onclick="changeColors(this)"></div>
          <div class="palette grey" id="grey" onclick="changeColors(this)"></div>
          <div class="palette grey1" id="grey1" onclick="changeColors(this)"></div>
          <div class="palette white" id="white" onclick="changeColors(this)"></div>
        </div>
        <div>
          <center>
            <input class="jscolor" value="000000" onchange="changeColors(this.jscolor)">
          </center>
        </div>

        <center><p style="margin-block-end: 0">Brush Sizes</p></center>
        <div id="contain">
          <div class="brush small" id="small" onclick="changeBrushSize(this)"></div>
          <div class="brush medium" id="medium" onclick="changeBrushSize(this)"></div>
          <div class="brush medium2" id="medium2" onclick="changeBrushSize(this)"></div>
          <div class="brush large" id="large" onclick="changeBrushSize(this)"></div>
        </div>
        <div class="slidecontainer">
          <input type="range" min="10" max="50" value="30" class="slider" id="myRange">
        </div>

        <center><p style="margin-block-end: 0">Transparency Slider</p></center>
        <div class="""transparency_container">
          <input type="range" min="0.05" max="0.8" step="0.05" value="0.2" class="slider" id="myTransparency">
        </div>
      </div>

      <div>
        <div class="banner">
	  <img src="banner.png" alt="banner" style="width: 100%">
	</div>
	
            <div class="thumbnails scroll_container">
	      <p style="margin-top: 3.5em">Choose your style:</p>
              <div class="thumbnail active" id="rain_princess" onclick="changeStyle(this)">
                <img src="{{ url_for('static', filename='thumbnails/rain_princess.jpg') }}" />
              </div>
              <div class="thumbnail" id="wave" onclick="changeStyle(this)">
                <img src="{{ url_for('static', filename='thumbnails/wave.jpg') }}" />
              </div>
              <div class="thumbnail" id="lion" onclick="changeStyle(this)">
                <img src="{{ url_for('static', filename='thumbnails/lion.jpg') }}" />
              </div>
              <div class="thumbnail" id="miro" onclick="changeStyle(this)">
                <img src="{{ url_for('static', filename='thumbnails/miro.jpg') }}" />
              </div>
              <div class="thumbnail" id="spectacle" onclick="changeStyle(this)">
                <img src="{{ url_for('static', filename='thumbnails/spectacle.jpg') }}" />
              </div>
              <div class="thumbnail" id="vangogh" onclick="changeStyle(this)">
                <img src="{{ url_for('static', filename='thumbnails/vangogh.jpg') }}" />
              </div>
            </div>
	<div class="container">
          <div class="canvas_container">
            <canvas id="mycanvas" width="512" height="512"></canvas>
          </div>

          <div class="canvas_container">
            <canvas id="mycanvas2" width="512" height="512"></canvas>
          </div>
	</div>

        <div class="container">
          <button id="clear_button">Clear</button>
          <button id="toggle_button">Toggle Result</button>
          <p id="status"></p>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='brushColor.js') }}"></script>
    <script src="{{ url_for('static', filename='colorPicker.js') }}"></script>
    <script src="{{ url_for('static', filename='brushSize.js') }}"></script>
    <script src="{{ url_for('static', filename='sizeSlider.js') }}"></script>
    <script src="{{ url_for('static', filename='transparencySlider.js') }}"></script>
    <script>
      // Default color is black.
      window.colors = "#000000";	
    </script>
    <script src="{{ url_for('static', filename='local.js') }}"></script>
  </body>
</html>
